language: go

go:
 - 1.1

script:
 - go get -d -v ./... && go build -v ./...
 - go test -v ./...
 - gofmt -d ./...

after_failure: failure
after_error: failure

notifications:
  email:
    recipients:
      - jragonmiris@gmail.com
    on_success: change
    on_failure: always
